port = 3000
limit_uri_regex_vec = [
    "/auto_tx/api/.*?/send_tx",
]
etcd_endpoints = [
    "127.0.0.1:2379",
]
request_key_time_to_live = 600

[consul_config]
consul_addr = "http://127.0.0.1:8500"
service_name = "req_cache"
service_port = 3000
tags = [
    "traefik.enable=true",
    "traefik.http.middlewares.cache-forward-auth.forwardauth.address=http://127.0.0.1:3000/auth",
    "traefik.http.middlewares.cache-req-cache-stripprefix.stripprefix.prefixes=/req_cache",
    "traefik.http.routers.req_cache.middlewares=cache-req-cache-stripprefix",
]

[log_config]
# max_level = "info"
# filter = "info"
max_level = "debug"
filter = "debug,hyper=info,opendal=info,sled=info"
# rolling_file_path = "./logs"
service_name = "req_cache"
# agent_endpoint = "127.0.0.1:6831"
